/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 추가할 리셋 내용 */
* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}
/* ----------------------------서식------------------------------------ */
@font-face {
  font-family: "PanterA";
  src: url(../fonts/PanterA/PanterA.ttf);
}
@font-face {
  font-family: "DancingScript";
  src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Metallica";
  src: url(../fonts/metal-gothic-font/MetalGothicDemoVersionRegular-WyB9A.ttf);
}
@font-face {
  font-family: "Lobster";
  src: url(../fonts/Lobster_Two/LobsterTwo-Italic.ttf);
}
@font-face {
  font-family: "Lobster_reg";
  src: url(../fonts/Lobster_Two/LobsterTwo-Regular.ttf);
}
@font-face {
  font-family: "Cingel";
  src: url(../fonts/Lobster_Two/LobsterTwo-Bold.ttf);
}
h1 {
  font-family: Metallica;
  font-size: 140px;
  font-weight: 100;
  text-shadow: 5px 5px 2px gray;
}
a {
  text-decoration: none;
  color: black;
}
h1 strong {
  font-size: 200px;
}
.portfolio {
  font-size: 270px;
  opacity: 0;
}
.flip-last {
  display: inline-block; /* 회전/반전을 위해 필수 */
  transform: scaleX(-1); /* 좌우 반전 */
  text-shadow: -10px 10px 0px gray;
  font-weight: 100;
  /* 만약 상하좌우 모두 뒤집고 싶다면 transform: rotate(180deg); */
}
/* -------------------------------Welcome--------------------------------- */
header {
  text-align: center;
}
.welcome_img {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: url(../images/wp2949843-pantera-band-wallpaper.jpg) no-repeat
    fixed;
  background-position: center;
  background-size: cover;
}
/* -------------------------------음악-------------------------------------- */

.music_ctrl{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0px 0px 10px 3px #222;
  margin-bottom: 200px;
}
.btn-group{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.btn-group button{
  background: radial-gradient(circle at 80% 40%, #eee, #aaa, #222);
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  width: 120px;
  height: 50px;
  line-height: 50%;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid #444;
  box-shadow: 5px 5px 5px #030303;
  transition: 0.2s ease-out;
}
.song-title{
  font-size: 24px;
  color: white;
  font-weight: 600;
}
.side-btn:hover{
  transform: scale(1.1);
  transition: 0.3s ease-out;
  box-shadow: 10px 10px 15px #000000;
}
#playBtn:hover{
  transform: scale(1.1);
  transition: 0.3s ease-out;
  box-shadow: 10px 10px 15px #000000;
}

.album-wrapper {
  position: relative; /* 자식인 vinyl과 구멍의 기준점 */
  width: 200px;
  height: 200px;
  flex-shrink: 0; /* flex 안에서 크기 고정 */
}
.album-image, .vinyl-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute; /* 두 이미지를 겹침 */
  top: 0;
  left: 0;
  object-fit: cover;
  animation: rotate_image 5s linear infinite;
  animation-play-state: paused;
}
.vinyl-image {
  z-index: 2;
  pointer-events: none; /* 클릭 방해 금지 */
  opacity: 0.3;
}
.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;    /* 세로 축 중앙 */
  justify-content: center;
  flex: 1;                /* 남은 공간을 유연하게 차지 */
  min-width: 250px;       /* 너무 좁아지지 않게 방지 */
}
/* 재생 중일 때 둘 다 회전 */
.playing {
  animation-play-state: running !important;
}
.album-wrapper::after {
  content: '';
  position: absolute;
  top: 50%; /* wrapper의 정중앙 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px; /* 이미지 크기에 맞춰 조절 */
  height: 60px;
  background-color: #ad0b0b;
  border-radius: 50%;
  border: 2px solid #222;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
  z-index: 5;
}

/* 회전 애니메이션 */
@keyframes rotate_image {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 재생 중일 때 적용할 상태 */
.playing {
  animation-play-state: running;
}
/* ------------------------------내비 바----------------------------------- */
nav {
  border: 2px solid #aaa;
  width: 600px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50px;
  position: sticky;
  top: 5px;
  background-color: white;
  opacity: 0.6;
  z-index: 999;
  padding: 0;
  overflow: hidden;
}
.nav_ul {
  display: flex;
  justify-content: space-around;
  line-height: 45px;
  height: 100%;
  /* position: relative; */
  z-index: 1;
  position: relative;
}
.nav_ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #555;
  /* z-index: 999; */
}
.nav_ul li {
  z-index: 1;
}
.slider {
  /* border: 1px solid red; */
  height: 100%;
  position: absolute;
  top: 0px;
  width: 150px;
  border-radius: 50px;
  background-color: #333;
  z-index: 0;
  /* right: 50%; */
  /* right는 0.4초 동안, width는 0.2초 동안 부드럽게 */
    transition: right 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), 
                width 0.2s ease-out;
                background-color: 0.3s;
}
.slider.stretching {
    width: 200px; 
    background-color: #444;
}
.pos-welcome {
  right: 450px;
}
.pos-about {
  right: 300px;
}
.pos-projects {
  right: 155px;
}
.pos-contact {
  right: 0;
}
/* -------------------------------About-------------------------------------- */
.about {
  /* border: 1px solid red; */
  margin: 100px 200px;
  text-align: center;
}
.about p {
  font-size: 34px;
  line-height: 40px;
}
.about p b {
  font-weight: 600;
}
.about img {
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 200px;
}
/* -----------------------------------Skills------------------------------------------- */
.skills {
  /* border: 1px solid red; */
  margin: 100px 200px;
}
.skills h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  justify-content: center;
}
.skills ul li {
  background-color: black;
  border-radius: 10px;
  color: white;
  width: 120px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.skills ul li img {
  width: 20px;
  height: auto;
  flex-shrink: 0; /* ★핵심: 공간이 부족해도 이미지가 찌그러지지 않게 방지 */
  object-fit: contain;
}
/* ------------------------------Introducing---------------------------------------- */
.Icons_text {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 500px;
  transition: 1s ease-out;
}
.Icons_text h2 {
  font-family: "DancingScript";
  font-size: 120px;
}
/* 탭버튼 */
input[name="tab-group"] {
  display: none;
}
.tab-button {
  display: inline-block;
  width: 150px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  color: #777;
  border: 2px solid #ccc;
  font-weight: 600;
  border-radius: 13px;
  z-index: 0;
  position: relative;
  margin-bottom: 25px;
}
/* 소개글 */
.intro {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 300px;
  max-width: 1400px;
  position: relative;
  background-color: #555;
  padding: 20px;
  border-radius: 20px;
}
.intro img {
  height: 600px;
}
#intro1 {
  display: flex;
  align-items: center;
  visibility: hidden;
}
#intro2 {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50px;
  visibility: hidden;
  margin-right: 30px;
}
.intro_text1 {
  text-align: center;
  width: 100%;
  margin: 5%;
  font-size: 24px;
  font-weight: 250;
  line-height: 35px;
  top: 50%;
  color: white;
}
.intro_text2 {
  text-align: center;
  width: 100%;
  margin: 5%;
  font-size: 24px;
  font-weight: 250;
  line-height: 35px;
  top: 50%;
  color: white;
}
input#tab1:checked + label,
input#tab2:checked + label {
  background-color: black;
  color: white;
  font-weight: 600;
}
#tab1:checked ~ #intro1,
#tab2:checked ~ #intro2 {
  visibility: visible;
  animation: radio 0.9s ease-out;
}
@keyframes radio {
  from {
    opacity: 0;
  }
  to {
  }
}
/* --------------------------------프로젝트---------------------------------------- */
aside {
  background-color: #222;
  text-align: center;
  padding: 30px;
  padding-bottom: 500px;
  padding-top: 150px;
}
aside h2 {
  color: white;
  font-size: 120px;
  font-family: Lobster;
  text-shadow: 5px 5px 1px #555;
}
.projects_wrapper {
  padding: 50px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
}
.box {
  /* border: 1px solid red; */
  width: 90%;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box a {
  display: flex; /* 내부의 이미지와 h3를 가로로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-around; /* ★핵심: 좌우 끝으로 밀착 */
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: Lobster_reg;
  text-shadow: 3px 3px 1px #333;
  transition: 0.3s ease-out;
}
.box a:hover{
  scale: 1.1;
  transition: 0.3s ease-out;
  visibility: visible;
}
.box:nth-child(even) a {
  flex-direction: row-reverse;
}
.box img {
  width: 35%;
  max-width: 400px;
  height: auto;
  border: 2px solid #888; /* 메탈 느낌의 테두리 */
  box-shadow: 0px 0px 7px 7px #eee;
  transition: 0.2s ease-out;
}
.box a h3 {
  font-size: 40px;
  opacity: 0;
  transition: 0.2s ease-out;
}
.box a:hover h3{
    opacity: 1;
    transition: 0.5s ease-out;
}
.box a:hover img{
  box-shadow: 0 0 15px 10px;
  transition: 0.5s ease-out;
}
/* ----------------------------------footer--------------------------------------------- */
footer {
  background-color: #222;
  text-align: center;
  color: white;
}
footer h2 {
  font-family: Cingel;
  color: rgb(247, 250, 67);
  text-shadow: 0 0 6px white;
  font-size: 110px;
  margin-bottom: 50px;
}
.contact {
  /* height: 30px; */
  width: 200px;
  margin: 0 auto;
  padding-bottom: 320px;
}
.contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact ul li {
  border: 3px solid #ddd;
  border-radius: 15px;
  height: 40px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 5px;
  transition: 0.2s ease-out;
}
.contact ul li img {
  height: 100%;
}
.contact ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}
.contact ul li:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
/* -----------------------------포트폴리오 텍스트 애니메이션----------------------------------- */
@keyframes portfolio_pick {
  from {
    opacity: 0;
    scale: 30%;
  }
  to {
    opacity: 1;
  }
}
@keyframes portfolio_unPick {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    scale: 80%;
  }
}
/* ------------------------------------------intro 텍스트 애니메이션--------------------------------------------- */
@keyframes Icons_pick {
  from {
    scale: 50%;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Icons_unPick {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    scale: 50%;
  }
}
/* ---------------------------------반응형--------------------------------- */
/* ------------------------------중간 화면 880 이하-------------------------------- */
@media (max-width: 880px) {
  /* 웰컴 */
  .music_ctrl{
    scale: 0.7;
    margin-bottom: 100px;
  }
  .welcome_img {
    height: 400px;
  }
  .music_btn{
  background: radial-gradient(circle at 80% 40%, #eee, #aaa, #222);
  color: white;
  padding: 20px;
  text-shadow: 2px 2px 4px black;
  font-size: 30px;
  border: none;
  width: 100px;
  height: 45px;
  line-height: 50%;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid #444;
  box-shadow: 5px 5px 5px #444;
  transition: 0.2s ease-out;
  font-family: Metallica;
}
.btn-group{
  gap: 8px;
}
@media (max-width: 880px) {
  .music_ctrl {
    flex-direction: column; /* 가로에서 세로 배치로 변경 */
    gap: 20px;
    padding: 20px;
    scale: 1;  
    width: 90%;
    max-width: 500px;
  }

  .album-wrapper {
    width: 150px;          /* 이미지 크기를 살짝 줄임 */
    height: 150px;
  }


  .album-wrapper::after {
    width: 40px;
    height: 40px;
  }

  .info-group {
    min-width: unset;
    width: 100%;
  }

  .song-title {
    font-size: 20px;
    text-align: center;
  }

  .btn-group button {
    width: 100px; 
    font-size: 18px;
  }
}

  h1 {
    font-size: 100px;
    text-shadow: 3px 3px 2px gray;
  }
  h1 strong {
    font-size: 150px;
  }
  .portfolio {
    font-size: 180px;
  }
  nav {
    scale: 0.8;
  }
  /* About */
  .about{
    margin: 0 auto;
  }
  .about p {
    font-size: 24px;
    line-height: 40px;
  }
  .about p b {
    font-weight: 600;
  }
  .Icons_text {
  margin-top: 200px;
  transition: 1s ease-out;
  }
  .Icons_text h2 {
  font-family: "DancingScript";
  font-size: 70px;
  }
  /* .skills {
  border: 1px solid red;
  margin: 100px 200px;
} */
  .intro {
  margin-top: 100px;
  margin-bottom: 300px;
  max-width: 880px;
  position: relative;
  background-color: #0f0c0b;
  padding: 15px;
  border-radius: 20px;
}
.intro img {
  height: 300px;
}
#intro1 {
  display: flex;
  align-items: center;
  visibility: hidden;
}
#intro2 {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50px;
  visibility: hidden;
  margin-right: 30px;
}
.intro_text1, .intro_text2 {
  font-size: 18px;
}
/* 프로젝트 */
aside {
  padding: 15px;
  padding-bottom: 200px;
  padding-top: 80px;
}
aside h2 {
  font-size: 80px;
}
.projects_wrapper {
  padding: 50px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
}
.box {
  /* border: 1px solid red; */
  width: 95%;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box a h3 {
  font-size: 30px;
  opacity: 1;
}
.box img{
    width: 45%;
}
footer h2{
    font-size: 75px;
}
} 
